Repository Armor-test/order-framework-785, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Armor-test/dept-test, @Armor-test/grp-integration, @Armor-test/squad-payments, @Armor-test/squad-cloud, @Armor-test/dept-automation, @Armor-test/squad-reporting, @Armor-test/team-logging, @Armor-test/squad-database, @Armor-test/squad-qa, @Armor-test/grp-storage, @Armor-test/dept-reporting, @Armor-test/dept-data, @Armor-test/squad-ux, @Armor-test/unit-governance, @Armor-test/squad-product, @Armor-test/unit-cloud, @Armor-test/dept-reliability, @Armor-test/squad-cache, @Armor-test/squad-tooling, @Armor-test/dept-logging, @Armor-test/grp-api, @Armor-test/dept-billing, @Armor-test/unit-devops, @Armor-test/unit-design, @Armor-test/squad-ml, @Armor-test/team-frontend, @Armor-test/team-security, @Armor-test/squad-api, @Armor-test/squad-performance, @Armor-test/grp-reporting, @Armor-test/squad-apps, @Armor-test/squad-research, @Armor-test/dept-api, @Armor-test/grp-payments, @Armor-test/grp-search, @Armor-test/dept-release, @Armor-test/security, @Armor-test/auth-team, @Armor-test/dependency-team, @Armor-test/compliance

.github/CODEOWNERS:

# CODEOWNERS file for order-framework-785
# Global owners - will be requested for all PRs
* @Armor-test/dept-test @Armor-test/grp-integration @Armor-test/squad-payments

# Directory ownership
/extensions/ @Armor-test/squad-cloud @Armor-test/dept-automation
/api/ @Armor-test/squad-reporting @Armor-test/team-logging @Armor-test/squad-database
/web/ @Armor-test/squad-qa @Armor-test/grp-storage
/helpers/ @Armor-test/dept-reporting @Armor-test/dept-data
/src/ @Armor-test/squad-ux @Armor-test/unit-governance
/core/ @Armor-test/grp-storage @Armor-test/squad-product @Armor-test/squad-payments
/views/ @Armor-test/dept-automation @Armor-test/squad-qa @Armor-test/unit-cloud
/scripts/ @Armor-test/dept-reliability @Armor-test/squad-cache
/internal/ @Armor-test/squad-cache @Armor-test/squad-database @Armor-test/squad-tooling
/migrations/ @Armor-test/dept-automation @Armor-test/unit-cloud
/plugins/ @Armor-test/dept-logging @Armor-test/unit-cloud
/security/ @Armor-test/grp-api @Armor-test/dept-billing
/app/ @Armor-test/dept-data @Armor-test/squad-payments

# File type ownership
*.c @Armor-test/unit-devops @Armor-test/squad-ux @Armor-test/unit-cloud
*.graphql @Armor-test/dept-reliability @Armor-test/unit-design
*.scala @Armor-test/squad-tooling @Armor-test/squad-product
*.swift @Armor-test/squad-ml @Armor-test/team-frontend @Armor-test/squad-cache
*.tsx @Armor-test/team-security @Armor-test/squad-api @Armor-test/squad-performance
*.tf @Armor-test/grp-reporting @Armor-test/unit-devops @Armor-test/squad-apps
*.rb @Armor-test/grp-reporting @Armor-test/team-frontend @Armor-test/squad-performance
*.py @Armor-test/squad-research @Armor-test/dept-api
*.config @Armor-test/grp-payments @Armor-test/dept-test
*.yml @Armor-test/grp-search @Armor-test/squad-apps @Armor-test/squad-performance
*.php @Armor-test/grp-search @Armor-test/dept-release

# Security and special files
/src/**/auth/ @Armor-test/security @Armor-test/auth-team
package.json @Armor-test/dependency-team @Armor-test/security
/src/**/security/ @Armor-test/security @Armor-test/compliance

Add src/.gitkeep
  src/.gitkeep
Owners: @Armor-test/squad-ux, @Armor-test/unit-governance

Add docs/.gitkeep
  docs/.gitkeep
Owners: @Armor-test/dept-test, @Armor-test/grp-integration, @Armor-test/squad-payments

Add test/.gitkeep
  test/.gitkeep
Owners: @Armor-test/dept-test, @Armor-test/grp-integration, @Armor-test/squad-payments

Add src/main.py
  src/main.py
Owners: @Armor-test/squad-research, @Armor-test/dept-api

Add src/index.js
  src/index.js
Owners: @Armor-test/squad-ux, @Armor-test/unit-governance
